BraveSoftware/
DisplayCAL/
Flavio Tordini/
FreeTube/
GIMP/
GeoGebra/
Kvantum/
QtProject.conf
arkrc
baloofileinformationrc
bpytop/
calibre/
cmst/
dconf/
deluge/
enchant/
gh/
htop/
inkscape/
kconf_updaterc
kde.org/
kdeconnect/
kdeglobals
keepassxc/
kio_fishrc
kio_ftprc
kiorc
krecentconnections
kservicemenurc
libaccounts-glib/
libreoffice/
lutris/
marlin/
mps-youtube/
mpv/watch_later/
nautilus/
neofetch/
nu/
octave/
okularrc
pavucontrol-qt/
pavucontrol.ini
pipewire/
plasmawindowed-appletsrc
plasmawindowedrc
pomotroid/
pulse/
qalculate/
qt5ct/
session/
sway/#config#
sway/#config#~
sway/config.bak
sway/config.d/
sway/config~
trashrc
user-dirs.dirs
user-dirs.locale
waybar/.git~/
waybar/config1
waybar/style1.css
whoozle.github.io/
xkb/
KDE/
Maui/
Microsoft/
QOpenVPN/
Thunar/
Trolltech.conf
Unknown Organization/
akregatorrc
ario/
autostart.bak/
autostart/
baloofilerc
caja/
chromium/
drkonqirc
emaildefaults
evolution/
goa-1.0/
google-chrome/
gtk-3.0/assets/
gtk-3.0/colors.css
gtk-3.0/gtk.css
gtk-3.0/settings.ini
gtk-3.0/window_decorations.css
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kalarmrc
kalziumrc
kateschemarc
kblackboxrc
kcminputrc
kconf_updaterc.lock
kded5rc
kdedefaults/
kdenlive-layoutsrc
kdenliverc
kfontviewrc
kglobalshortcutsrc
khotkeysrc
kigorc
kmixrc
konq_history
konquerorrc
korgacrc
krdcrc
kreversirc
ksmserverrc
ksystemlogrc
ktimezonedrc
kwinrc
libfm/
main.kdbx~
mc/
mpd/database
mpd/log
mpd/pid
mpd/state
ncmpcpp/
nemo/
nnn/
obs-studio/
offlineimap/
okularpartrc
org.ukui/
pcmanfm-qt/
pcmanfm/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
protonvpn/
ranger/
systemd/user/default.target.wants/
systemd/user/pipewire-session-manager.service
systemd/user/pipewire.service.wants/
systemd/user/protonvpn_reconnect.service
systemd/user/sockets.target.wants/
systemmonitorrc
systemsettingsrc
teams/
vifm/
xdg-desktop-portal-wlr/
xfce4/
xsettingsd/
zoomus.conf
JetBrains/
VSCodium/
btop/
filelightrc
glib-2.0/
gnome-initial-setup-done
kritadisplayrc
kritarc
kscreenlockerrc
kwinrulesrc
kxkbrc
menus/
nix/
nyxt/
qutebrowser/
rclone/
spectaclerc
startkderc
systemd/user/emacs.service
systemd/user/mpd.service
zathura/zathurarc
akonadi*
onlyoffice/
fish/functions/base16*
.stversions/
.sass-cache/
.stignore/
Code - OSS
Code/
Kitware/
Todoist/
breezerc
cantata/
configstore/
discoverrc
fontconfig/fonts.dtd
gImageReader/
jgit/
kate/
katemetainfos
katerc
katevirc
keditfiletyperc
kickoff/
kinfocenterrc
krunnerrc
ktimerrc
lvim.old/
lvim/
netsurf/
nvim-nvchad/
nvim.nvchad.bak/
nvim.nvchad2.bak/
nvim.personal.bak/
nvim.spacevim.bak
nvim/
sddmthemeinstallerrc
signond/
swi-prolog/
syncthing/
systemd/user/graphical-session.target.wants/
todoist/
transmission/
ulauncher/
waybar/.sass-cache/
waybar/scss-bare/
waybar/style.css.map
wezterm/
yarn/
zathura/zathurarc.bak
coc/
