BraveSoftware/
DisplayCAL/
Flavio Tordini/
FreeTube/
GIMP/
GeoGebra/
Kvantum/
QtProject.conf
arkrc
baloofileinformationrc
bpytop/
calibre/
cmst/
dconf/
deluge/
enchant/
gh/
htop/
inkscape/
kconf_updaterc
kde.org/
kdeconnect/
kdeglobals
keepassxc/
kio_fishrc
kio_ftprc
kiorc
krecentconnections
kservicemenurc
libaccounts-glib/
libreoffice/
lutris/
marlin/
mps-youtube/
mpv/watch_later/
nautilus/
neofetch/
nu/
octave/
okularrc
pavucontrol-qt/
pavucontrol.ini
pipewire/
plasmawindowed-appletsrc
plasmawindowedrc
pomotroid/
pulse/
qalculate/
qt5ct/
session/
sway/#config#
sway/#config#~
sway/config.bak
sway/config.d/
sway/config~
systemd/
trashrc
user-dirs.dirs
user-dirs.locale
waybar/.git~/
waybar/config1
waybar/style1.css
whoozle.github.io/
xkb/
zathura/